
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    border: 3px solid black;
    border-radius: 10px;
}
body{
    background-image: url("backrounf.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.back{
    background-color: rgb(190, 132, 132);
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 8px 8px 10px black;
    color: black;
  
    margin-left: 15px;
}
